#colorwheel {
  padding: 0 40px 70px;
  display: none;
}

.hex {
    float: left;
    margin-right: -6px;
    margin-bottom: -12px;
}
.hex .left {
    float: left;
    width: 0;
    border-right: 7px solid #6C6;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
}
.hex .middle {
    float: left;
    width: 15px;
    height: 26px;
    background: #6C6;
}
.hex .right {
    float: left;
    width: 0;
    border-left: 7px solid #6C6;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
}
.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 13px;
}

.hex-offset1 {
  margin-left: 23px;
}

.hex-offset2 {
  margin-left: 46px;
}

.hex-offset3 {
  margin-left: 69px;
}

.collapsible .collapsible-content {
  display: none;
}

.collapsible.open .collapsible-content {
  display: block
}

.collapsible.open .collapsible-toggle {
  margin: 0;
}

.collapsible-toggle {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
  padding:  3px 10px 1px;
  margin: 0 0 3px;
}

.collapsible.open .collapsible-toggle .triangle {
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.collapsible-toggle .triangle {
  border-top: 6px solid transparent;
  border-left: 6px solid #fff;
  border-bottom: 6px solid transparent;
  width: 0;
  height: 0;
  float: left;
  margin: 10px 8px 10px 0;
}

#tmb-side-bar .collapsible-content {
  font-size: 15px;
  padding: 10px 10px 13px;
  background-color: #f0f0f0;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3) inset;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3) inset;
  margin-bottom: 3px;
}

#tmb-side-bar .field {
  margin-bottom: 3px;
}

#tmb-side-bar label {
  text-transform: uppercase;
  font-weight: 800;
  width: 70px;
  font-size: 12px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: 1px;
}

#tmb-side-bar input {
  border: 1px solid #888;
  font-family: Courier;
  color: #333;
  padding: 3px 3px 1px;
  font-size: 13px;
  width: 156px;
}

#tmb-side-bar input.color {
  width: 67px;
}

iframe {
  width: 100%;
  height: 750px;
  border: 1px solid #bbb;
}

#colorpicker {
  width: 185px;
  height: 150px;
  padding: 10px;
  background-color: #000;
  z-index: 5;
  position: absolute;
  display: none;
}

#colorpicker .tmb-colorpicker-graph {
  height: 150px;
  width: 150px;
  float: left;
}

#colorpicker .graph {
  height: 150px;
  width: 150px;
  position: relative;
}

#colorpicker .graph .thumb {
  width: 13px;
  height: 13px;
  border: 2px solid #000;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 10px;
  z-index: 3;
  background: white;
}

#colorpicker .tmb-colorpicker-hue {
  width: 20px;
  height: 150px;
  float: left;
  margin-left: 13px;
}

#colorpicker .hue {
  background-image: url(../themebot/img/hue.png);
  width: 20px;
  height: 150px;
  position: relative;
}

#colorpicker .hue .thumb {
  height: 10px;
  width: 20px;
  border-width: 1px 0;
  position: absolute;
  top: 20px;
  z-index: 3;
}

#colorpicker .hue .thumb:before {
  display: block;
  width: 7px;
  height: 10px;
  background: url(../themebot/img/arrow-right.png) no-repeat;
  position: absolute;
  left: -7px;
  content: "";
}

#colorpicker .hue .thumb:after {
  display: block;
  width: 7px;
  height: 10px;
  background: url(../themebot/img/arrow-left.png) no-repeat;
  position: absolute;
  right: -7px;
  content: "";
}

#colorpicker .mask {
  background: url(../themebot/img/mask.png) no-repeat;
  width: 150px;
  height: 150px;
  z-index: 2;
}
