body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  color: #555;
}

h1, h2, h3, h4, h5 {
  margin: 7px 0;
  color: #333;
}

a {
  color: #5f78ed;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #222;
  border: 1px solid #888;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
  color: #333;
}

.button.white {
  background-color: white;
}

a.button:hover {
  text-decoration: none;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.container {
  width: 1170px;
  margin: auto;
}

.header {
  margin-top: 40px;
  height: 40px;
  padding: 10px 0;
}

a.brand {
  color: #222;
  font-size: 32px;
  line-height: 40px;
  float: left;
}

.header .nav {
  list-style: none;
  padding: 0;
  color: #333;
}

.header .nav li {
  float: left;
  margin: 0 10px;
}

.header .nav a {
  color: inherit;
}

.banner {
  text-align: center;
  background-color: #ddd;
  padding: 40px 0 60px;
  margin: 40px 0;
}

.banner h1 {
  font-size: 65px;
  text-align: center;
  margin: 20px 0 40px;
  text-shadow: 1px 2px 0 #fff;
}

.banner h2 {
  width: 700px;
  line-height: 150%;
  margin: auto;
}
.banner .button {
  font-size: 32px;
  padding: 12px 34px 7px;
  background-color: #eee;
}

.content-block {
  font-size: 18px;
  margin-bottom: 60px;
}

.placeholder {
  border: 2px solid #222;
  width: 180px;
  float: left;
  margin-right: 20px;
  height: 180px;
  background-color: #eee;
  text-align: center;
}

.placeholder:after {
  content: "Image goes here";
  position: relative;
  top: 80px;
  color: #222;
}

.placeholder.round {
  border-radius: 100px;
}

.placeholder.light {
  background: #eee;
}

.placeholder.medium {
  background: #ddd;
}

.placeholder.dark {
  background: #aaa;
}

.placeholder.darkest {
  background: #666;
}

.placeholder.green {
  background: #00f485;
}

.placeholder.red {
  background: #f42500;
}

.placeholder.blue {
  background: #0085f4;
}

.placeholder.yellow {
  background: #fec106;
}

.placeholder.right {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  position: relative;
  font-size: 15px;
  margin-top: 60px;
}

.footer .links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .links li {
  margin: 20px 0;
}

.footer .right {
  text-align: right;
  height: 108px;
  position: relative;
  width: 300px;
}

.footer .copyright {
  position: absolute;
  bottom: 0;
  right: 0;
}
