html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 0;
  color: #555;
  background-color: #f9f9f9;
}

h1, h2, h3, h4, h5 {
  margin: 7px 0;
  color: #222;
  font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

a {
  color: #f13d3a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #f13d3a;
}

.button {
  display: inline-block;
  border: 1px solid #f13d3a;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
  padding: 3px 10px;
  font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
  background-color: #f13d3a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f13d3a), to(#CC2500));
  background-image: -webkit-linear-gradient(top, #f13d3a, #CC2500);
  background-image:    -moz-linear-gradient(top, #f13d3a, #CC2500);
  background-image:      -o-linear-gradient(top, #f13d3a, #CC2500);
  background-image:         linear-gradient(to bottom, #f13d3a, #CC2500);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  color: #f9f9f9 !important;
  text-shadow: 0 -1px 1px #000;
}

.button:hover {
  text-decoration: none;
  background-color: #f13d3a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f13d3a), to(#D92512));
  background-image: -webkit-linear-gradient(top, #f13d3a, #D92512);
  background-image:    -moz-linear-gradient(top, #f13d3a, #D92512);
  background-image:      -o-linear-gradient(top, #f13d3a, #D92512);
  background-image:         linear-gradient(to bottom, #f13d3a, #D92512);
}

.button:active {
  position: relative;
  top: 2px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #D92512;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D92512), to(#f13d3a));
  background-image: -webkit-linear-gradient(top, #D92512, #f13d3a);
  background-image:    -moz-linear-gradient(top, #D92512, #f13d3a);
  background-image:      -o-linear-gradient(top, #D92512, #f13d3a);
  background-image:         linear-gradient(to bottom, #D92512, #f13d3a);
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.container {
  width: 1170px;
  margin: auto;
}

.header {
  height: 40px;
  padding: 10px 0;
  margin: 40px 0 60px;
}

.header .container {
  position: relative;
}

.brand {
  color: #222;
  font-size: 45px;
  font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
  float: left;
  width: 145px;
  height: 45px;
  padding-left: 49px;
  padding-top: 17px;
  background: url(../img/robot-red.png) no-repeat;
  vertical-align: text-bottom;
}

.brand:hover {
  text-decoration: none;
  background: url(../img/robot.png) no-repeat;
}

.brand img {
  height: 58px;
  margin-right: 7px;
}

.header .nav {
  list-style: none;
  padding: 0;
  color: #333;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.header .nav img {
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.header .nav li {
  float: left;
  margin: 0 10px;
}

.header .nav a {
  color: inherit;
}

.main {
  position: relative;
}

.banner {
  background-color: #252525;
  padding: 40px 20px;
  margin-bottom: 40px;
  color: #f9f9f9;
}

.tipbot {
  overflow: visible;
  position: relative;
  padding-right: 0;
  padding-left: 0;
}

.tipbot:before, .tipbot:after {
  content: "";
  position: absolute;
  background-color: #252525;
  top: 0;
  bottom: 0;
  width: 9999px;
  right: 100%;
}

.tipbot:before {
  right: 100%; 
}

.tipbot:after {
  left: 100%;
}

.tipbot img {
  margin: 0 5px 5px 0;
  vertical-align: middle;
}

.tipbot h2 {
  font-size: 22px;
  margin: 0;
  float: left;
  position: relative;
  top: 3px;
  margin-right: 15px;
  color: inherit;
}

.content-block .tipbot h2, .landing .content-block h2 {
  border-bottom: none;
}

.content-block .tipbot p {
  font-size: 32px;
  line-height: 1.3em;
  margin: 0;
  position: relative;
}

.hero.banner {
  padding: 40px 0 60px;
  margin: 0 0 40px;
}

.hero.banner h1 {
  font-size: 74.1px;
  margin: 20px 0 0;
  text-shadow: 1px 1px 0 #000;
  color: inherit;
}

.hero.banner p {
  line-height: 150%;
  margin: 10px 0;
  font-size: 20px;
  color: inherit;
}

.hero.banner .button {
  font-size: 70px;
  text-align: center;
  line-height: 42px;
  padding: 34px 0 31px;
  margin-top: 23px;
  width: 100%;
  border-radius: 10px;
}

.subnav-wrapper {
  background: #ddd;
  border-radius: 3px;
}

.subnav {
  list-style: none;
  margin: 0;
  color: #333;
  padding: 15px 30px;
  font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
}

.subnav li {
  margin: 20px 0;
  font-size: 26px;
  letter-spacing: 0.05em;
}

.subnav a {
  color: inherit;
}

.content-block {
  font-size: 18px;
  margin-bottom: 60px;
}

.content-block p {
  margin-bottom: 40px;
  line-height: 1.4em;
}

.content-block h1, .content-block h2, .content-block h3, .content-block h4, .content-block h5 {
  border-bottom: 1px solid #888;
}

.placeholder {
  border: 2px solid #222;
  width: 180px;
  float: left;
  margin-right: 20px;
  height: 180px;
  background-color: #eee;
  text-align: center;
}

.placeholder:after {
  content: "Image goes here";
  position: relative;
  top: 80px;
  color: #222;
}

.placeholder.round {
  border-radius: 100px;
}

.placeholder.light {
  background: #eee;
}

.placeholder.medium {
  background: #ddd;
}

.placeholder.dark {
  background: #aaa;
}

.placeholder.darkest {
  background: #666;
}

.placeholder.green {
  background: #00f485;
}

.placeholder.red {
  background: #f42500;
}

.placeholder.blue {
  background: #0085f4;
}

.placeholder.yellow {
  background: #fec106;
}

.placeholder.right {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.landing .content-block img {
  float: left;
  margin-right: 20px;
  width: 80px;
}

.footer {
  font-size: 15px;
  margin-top: 60px;
}

.footer .container {
  padding-top: 20px;
  border-top: 1px solid #333;
}

.footer .links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .links li {
  margin: 0 20px;
  float: left;
}

.footer .links li.first {
  margin-left: 0;
}

.footer a {
  color: inherit;
}

.footer .right {
  text-align: right;
  height: 108px;
  position: relative;
  width: 300px;
}

.footer .top-link {
  float: none;
  margin: 0 0 0 15px;
  vertical-align: middle;
}

pre {
  border: 1px solid #aaa;
  padding: 10px;
  margin-bottom: 40px;
  line-height: 1.4em;
}

ol, ul {
  padding-left: 22px;
  margin: 30px 0;
  color: #333;
}

ol li, ul li {
  margin: 20px 0;
}

.top-link {
  font-size: 14px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: inherit;
  float: right;
  margin-top: 23px;
  opacity: .5;
}

.top-link img {
  height: 14px;
}

.top-link:hover {
  opacity: 1;
}

.credits ol img {
  height: 32px;
  vertical-align:middle;
  margin-right: 5px;
}

.try-it {
  font-size: 32px;
  padding: 8px 20px;
}

.icon16{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  width:16px;
  height:16px;
  margin-right: 3px;
  background:url("../img/icons16.png") top left no-repeat;
}
.icon16.arrow-up{ background-position:0 0; }
.icon16.paper{ background-position:-16px 0; }
.icon16.users{ background-position:-32px 0; }
.icon16.play{ background-position:-48px 0; }
.icon16.robot{ background-position:-64px 0; }
.icon16.download{ background-position:-80px 0; }

.icon32{
  display: inline-block;
  vertical-align: middle;
  width:32px;
  height:32px;
  margin-right: 5px;
  background:url("../img/icons32.png") top left no-repeat;
}
.icon32.arrow-up{ background-position:0 0; }
.icon32.paper{ background-position:-32px 0; }
.icon32.users{ background-position:-64px 0; }
.icon32.play{ background-position:-96px 0; }
.icon32.robot{ background-position:-128px 0; }
.icon32.download{ background-position:-160px 0; }
