body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 7px 0;
}

a {
  color: #5f78ed;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #666666;  
  box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  display: inline-block;
  font-family: Arial, Helvetica, sans;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}

.button:hover {
  text-decoration: none;
  box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
  color: #fff !important;
}

.button:active {
  top: 7px;
  box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);  
  color: #fff !important;
}


.right {
  float: right;
}

.left {
  float: left;
}

.container {
  width: 1170px;
  margin: auto;
}

.header {
  margin-top: 40px;
  height: 40px;
  padding: 10px 0;
}

a.brand {
  color: inherit;
  font-size: 32px;
  line-height: 40px;
}

.header .nav {
  list-style: none;
  padding: 0;
}

.header .nav li {
  float: left;
  margin: 0 10px;
}

.header .nav a {
  color: inherit;
}

.banner {
  background-color: #ddd;
  padding: 40px 0 60px;
  margin: 40px 0;
}

.banner h1 {
  font-size: 65px;
  text-align: center;
  margin: 20px 0 40px;
  text-shadow: 1px 2px 0 #fff;
}

.banner .button {
  font-size: 32px;
  padding: 12px 34px;
}

.content-block {
  font-size: 18px;
  margin-bottom: 60px;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  position: relative;
  font-size: 15px;
  margin-top: 60px;
}

.footer .links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .links li {
  margin: 20px 0;
}

.footer .right {
  text-align: right;
  height: 108px;
  position: relative;
  width: 300px;
}

.footer .copyright {
  position: absolute;
  bottom: 0;
  right: 0;
}
